@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
// Variables
$primary-color: #06334d;
$button-primary: #06334d;

$secondary-color: #e8f0f9;
$button-secondary: #ffffff;

$text-color: #06334d;
$background-color: #e8f0f4;

$active-color: #4285f4;
$border-color: #e3e8ec;
$error-color: #e74c3c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
