@use 'sass:color';
@import '../../styles/globals.scss';

.topNavbar {
  background-color: $primary-color;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 10;

  .searchContainer {
    width: 100%;
    max-width: 600px;

    .searchInput {
      width: 100%;
      padding: 8px 15px;
      border-radius: 4px;
      border: none;
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      font-size: 14px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}
